<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Keyy Web</title>
<link href="" rel="shortcut icon">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{% load static %}
<link rel="stylesheet" href="{% static 'journalstatic/css/style.css' %}">
<link rel="stylesheet" href="{% static 'journalstatic/css/owl.carousel.min.css' %}" >
<link href="{% static 'journalstatic/css/owl.theme.default.min.css' %}" rel="stylesheet">

</head>

<body>
	<div class="BgCover"></div>
	<header class="header">
    	<div class="HeaderDetail">
        	<div class="HeadLogo">
            	<img src="{% static 'journalstatic/images/keyy-logo-light-grey.png' %}" alt="" />
            </div>
            <div class="HeadContent">
            	Accelerated learning for coaches and students.<br />Start for free!
            </div>
            <div class="HeadAction">
            	<a href="" class="AppStore"><img src="{% static 'journalstatic/images/AppleStore.png' %}" alt="" /></a>
            	<a href="" class="PlayStore"><img src="{% static 'journalstatic/images/GooglePlay.png' %}" alt="" /></a>
            </div>
        </div>
    </header>
    <div class="wrapper">
    	<div class="ContentSection">
        	<div class="MobileInnerContent">
            	<div class="MobileContentDetail">
                    <div class="MobileContentHead">
                        <div class="StatusBar">
                            <img class="StatusLeft" src="{% static 'journalstatic/images/StatusLeft.png' %}" alt="" />
                            <span>9:41 AM</span>
                            <img class="StatusRight" src="{% static 'journalstatic/images/StatusRight.png' %}" alt="" />
                        </div>
                    	<div class="LogoSection">
                            <img src="{% static 'journalstatic/images/keyy-logo-white.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="HeadTitle">{{ journalobj.journal_title }}</div>
                    <div class="UserDetail">by
                        <span class="userIcon">
                        {% if journalobj.profile_picture != '' %}
                            <img src="{{ journalobj.profile_picture }}" alt="" />
                        {% endif %}
                        </span>
                        {{ journalobj.first_name }} {{ journalobj.last_name}}
                        
                    </div>
                    <ul class="emogi-radio-section">
                    	<li class="radio-{% if journalobj.today_fill == '1' %}selected{% else %}unselected{% endif %}">
                            <div class="radio-single" style="background-image: url({% static 'journalstatic/images/Weary_Face_Emoji.png' %})"></div>
                        </li>
                        <li class="radio-{% if journalobj.today_fill == '2' %}selected{% else %}unselected{% endif %}">
                            <div class="radio-single" style="background-image: url({% static 'journalstatic/images/Very_sad_emoji_icon_png.png' %})"></div>
                        </li>
                        <li class="radio-{% if journalobj.today_fill == '3' %}selected{% else %}unselected{% endif %}">
                            <div class="radio-single" style="background-image: url({% static 'journalstatic/images/Neutral_Face_Emoji.png' %})"></div>
                        </li>
                        <li class="radio-{% if journalobj.today_fill == '4' %}selected{% else %}unselected{% endif %}">
                            <div class="radio-single" style="background-image: url({% static 'journalstatic/images/Slightly_Smiling_Face_Emoji.png' %})"></div>
                        </li>
                        <li class="radio-{% if journalobj.today_fill == '5' %}selected{% else %}unselected{% endif %}">
                            <div class="radio-single" style="background-image: url({% static 'journalstatic/images/Heart_Eyes_Emoji.png' %})"></div>
                        </li>
                    </ul>
                    <div class="LocationSection">
                        {% if journalobj.activity != '' %}<h3>{{ journalobj.activity }}</h3> {% endif %}
                    	<div class="CheckInLocation">
                        {{ journalobj.place }}
                        </div>
                    </div>
                    <div class="ContentDetailSection">{{ journalobj.journal_desc }}</div>
                    
                    
                    <div class="VideoImageSection">
                    <!--
                    {% for journal_attachments in journalobj.journal_attachments %}
                        {{ journal_attachments.thumb_url  }} <br>{{ journal_attachments.video_url }}
                    {% endfor %}
                    -->
                    
                    	<div class="owl-carousel owl-theme">
                            
                            <div class="item">
                            	<img src="{% static 'journalstatic/images/student-video-cover.jpg' %}" alt="" />
                                <span><img src="{% static 'journalstatic/images/play.png' %}" alt="" /></span>
                            </div>
                            <div class="item">
                            	<img src="{% static 'journalstatic/images/student-video-cover.jpg' %}" alt="" />
                            </div>
                            <div class="item">
                            	<img src="{% static 'journalstatic/images/student-video-cover.jpg' %}" alt="" />
                            </div>
                            <div class="item">
                            	<img src="{% static 'journalstatic/images/student-video-cover.jpg' %}" alt="" />
                            </div>
                            <div class="item">
                            	<img src="{% static 'journalstatic/images/student-video-cover.jpg' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'journalstatic/js/jquery.min.js' %}"></script>
    <script src="{% static 'journalstatic/js/owl.carousel.js' %}"></script>
    <script src="{% static 'journalstatic/js/custom-Script.js' %}"></script>
</body>
</html>



