@font-face {
    font-family: 'Helvetica-Normal';
    src: url('../fonts/Helvetica-Normal.eot');
    src: url('../fonts/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Normal.woff2') format('woff2'),
        url('../fonts/Helvetica-Normal.woff') format('woff'),
        url('../fonts/Helvetica-Normal.ttf') format('truetype'),
        url('../fonts/Helvetica-Normal.svg#Helvetica-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    font-family: 'Helvetica-Normal';
}
*, body {
    margin: 0;
	padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
.BgCover {		
    background-image: url(../images/BodyBG.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 745px;		
}
.header {
	position: fixed;
    width: 100%;
    float: left;
    z-index: 2;
    background: #fff;
    padding: 12px 0 10px;
}
.HeaderDetail .HeadContent, 
.HeaderDetail .HeadAction {
	width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    float: left;
    text-align: center;
}
.HeaderDetail {
	width: 100%;
	display: block;
	position: relative;
	text-align: center;
	max-width: 315px;
	margin: 0 auto;
}
.HeaderDetail .HeadContent {
	color: #9b9b9b;
	font-size: 14px;
	text-align: center;
	margin: 9px 0 9px;
	letter-spacing: 0.4px;
	line-height: normal;
}
.HeaderDetail .HeadAction a {
	display: inline-block;
    width: 139px;
    height: 42px;
    background-attachment: scroll;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 0 0 17px;
}
.HeaderDetail .HeadAction a img {
	width: 139px;
    height: 42px;
}
.HeaderDetail .HeadAction a:first-child {
	margin: 0 0;
}
.HeaderDetail .HeadAction a.AppStore {
	background-image: url(../images/AppleStore.png);
}
.HeaderDetail .HeadAction a.PlayStore {
	background-image: url(../images/GooglePlay.png)
}
.wrapper {	
    width: 100%;
    float: left;
    position: relative;
	margin: 155px 0 0;
}
.wrapper .ContentSection {
	width: 702px;
    margin: 49px 0 0;
    height: 870px;
    position: relative;
    background-size: 702px 870px;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(../images/MobileIcon.png);
    left: 55%;
	-ms-transform: translatex(-55%);
	-moz-transform: translatex(-55%);
	-o-transform: translatex(-55%);
	-webkit-transform: translatex(-55%);
    transform: translatex(-55%);
}
.ContentSection .MobileInnerContent {
	margin: 76px 0 0px 146px;
    background: #fff;
    width: 349px;
    height: 646px;
    position: relative;
    float: left;
}
.MobileContentHead {
	background-image: url(../images/headerBG.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top left;
	background-size: 100% 63px;
	height: 63px;
}
.MobileContentHead .StatusBar {
	position: relative;
    width: 100%;
    float: left;
    padding: 0 85px;
    text-align: center;
    font-size: 12px;
    margin: 2px 0 8px;
}
.MobileContentHead .StatusBar img {
	position: absolute;
	top: 0;	
}
.MobileContentHead .StatusBar img.StatusLeft {
	left: 5px;
}
.MobileContentHead .StatusBar img.StatusRight {
	right: 5px;
}
.MobileContentHead .LogoSection {
	position: relative;
	width: 100%;
	float: left;
	padding: 0 15px;
	text-align: center;
}
.MobileContentDetail {
	float: left;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto;
}
.MobileContentDetail .HeadTitle {
	color: #000;
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 30px auto 20px;
    padding: 0 15px;
}
.MobileContentDetail .UserDetail {
	float: left;
    position: relative;
    width: 100%;
    color: #9b9b9b;
    font-size: 14px;
    text-align: center;
    padding: 0 15px;
    margin: 0 0 25px;
}
.MobileContentDetail .UserDetail .userIcon {
	border-radius: 100%;
	height: 25px;
	margin: 0 5px;
	position: relative;
	top: 4px;
	width: 25px;	
}
.MobileContentDetail .UserDetail .userIcon img {
	width: 25px;
    height: 25px;
    border-radius: 100%;
    object-fit: cover;
}
.MobileContentDetail .emogi-radio-section {
	list-style: none;
	margin: 0 0 29px;
	padding: 0;
	text-align: center;
	float: left;
	width: 100%;
	position: relative;
}
.MobileContentDetail .emogi-radio-section li {
	display: inline-block;
	margin: 0 5px;
}
.MobileContentDetail .emogi-radio-section li .radio-single {
	background-size: 100% auto;
    border-radius: 50%;
    height: 47px;
    margin: 0;
    width: 47px;
    opacity: 0.3;
}
.MobileContentDetail .emogi-radio-section li.radio-selected .radio-single {
	opacity: 1;
}
.MobileContentDetail .LocationSection {
	border-top: 2px solid #edecf2;
    border-bottom: 2px solid #edecf2;
    padding: 15px;
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 25px;
}
.MobileContentDetail .LocationSection h3 {
	color: #4a4a4a;
    font-size: 17px;
    position: relative;
    width: 100%;
    float: left;
    margin: 0 0 3px;
    font-weight: normal;
}
.MobileContentDetail .LocationSection .CheckInLocation {
	color: #4a4a4a;
    font-size: 17px;
    position: relative;
    width: 100%;
    float: left;
	background-image: url(../images/location.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top left;
	background-size: 15px 20px;
	padding: 0 0 0 28px;
}
.MobileContentDetail .ContentDetailSection {
	color: #4a4a4a;
    font-size: 17px;
    position: relative;
    width: 100%;
    float: left;
    padding: 0 15px;
}
.MobileContentDetail .VideoImageSection {
	float: left;
    width: 100%;
    position: relative;
    padding: 15px;
    margin: 5px 0 0;
}
.MobileContentDetail .VideoImageSection .owl-dots {
	display: none;
}
.MobileContentDetail .VideoImageSection .item span {
	position: absolute;
	width: 27px;
	height: 27px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
}
@media all and (max-width: 700px) {
	.BgCover {
		height: 305px;
	}
	.wrapper .ContentSection {
		width: 480px;
		height: 830px;
		background-size: 670px 830px;
		background-position: -77px 0;
		margin: 130px auto 0;
		left: unset;
		transform: unset;
	}
	.ContentSection .MobileInnerContent {
		margin: 73px 0 0px 63px;
		width: 332px;
		height: 616px;
	}
	
	.MobileContentDetail .emogi-radio-section li {
		margin: 0 4px;
	}
	.MobileContentDetail .emogi-radio-section li .radio-single {
		height: 39px;
		width: 39px;
	}
}
@media all and (max-width: 480px) {
	.wrapper .ContentSection {
		width: 320px;
		height: 697px;
		background-size: 320px 697px;
		background-position: 0 0;
		background-image: url(../images/ResponsiveMobileIcon.png);
		left: unset;
		transform: unset;
	}
	.ContentSection .MobileInnerContent {
		margin: 56px 0 0px 26px;
		width: 270px;
		height: 500px;
	}
}