<strong>Hello {{ user }},</strong><br />
<p>
We have received request to rest your password for your keyy app account. If you didn't make the request, just ignore this email. Otherwise, you can reset your password using following unique code and this unique code is only valid for the next 30 minutes.
</p>
<p>
<strong>{{ uniquecode }}</strong>
</p>
<p>
Thanks,<br />
The Keyy App Team
</p>



