<!--<fieldset class="module aligned ">
    <h2>User Referce Data</h2>
    <div class="form-row">
        <div><label>Reference Code:</label><div class="readonly" id="refencecode"></div></div>
    </div>
    <div class="form-row">
        <div><label>Total Number Of Sign Up User:</label><div class="readonly" id="refenceuser">0</div></div>
    </div>
</fieldset>-->

<div id="customer_data">
<input type="hidden" name="object_id" id="object_id" value="{{ original.pk }}">
<fieldset class="module aligned ">
    <h2>Purchased Module</h2>
    <div class="form-row">
        <div id="module_log"></div>
    </div>
</fieldset>
</div>



    